<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.covidplus.dao.LoginDao">
	<select id="memberInfoOne" parameterType="UserVO" resultType="UserVO">
		SELECT 
			MEMBER_ID
			, AUTH_ID
			, MEMBER_PASS
			, MEMBER_NAME
			, MEMBER_ADDR
			, MEMBER_PHONE
			, JOIN_DATE
			, LAST_LOGIN
			, FAIL_COUNT
		FROM covidplus.member_info
		<trim prefix="WHERE" prefixOverrides="AND |OR">
			<if test="member_id != null and member_id != ''">AND MEMBER_ID = #{member_id}</if>
			<if test="member_pass != null and member_pass != ''">AND MEMBER_PASS = #{member_pass}</if>
		</trim>
	</select>
</mapper>