<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.covidplus.dao.OptionDao">
	<select id="selectParseOptionList" resultType="ParseOptionVO" parameterType="ParseOptionVO">
		SELECT 
    		parsing_key, 
    		service_url, 
    		Service_key, 
    		url_parameter, 
    		date_parameter,
    		table_name, 
    		insert_query, 
    		comment,
    		last_to_today,
    		activity
		FROM 
			parse_option
	</select>
	
	<select id="selectParseOptionOne" resultType="ParseOptionVO" parameterType="ParseOptionVO">
		SELECT 
    		parsing_key, 
    		service_url, 
    		Service_key, 
    		url_parameter, 
    		date_parameter,
    		table_name, 
    		insert_query, 
    		comment,
    		last_to_today,
    		activity
		FROM 
			parse_option
		WHERE
			parsing_key = #{parsing_key}
	</select>
	
	<select id="replaceParseOption" resultType="ParseOptionVO" parameterType="ParseOptionVO">
		REPLACE INTO covidplus.parse_option (
			parsing_key,
			service_url,
			service_key,
			url_parameter,
			date_parameter,
			table_name,
			insert_query,
			comment,
			last_to_today,
			activity)
		VALUES(
			#{parsing_key},
			#{service_url},
			#{service_key},
			#{url_parameter},
			#{date_parameter},
			#{table_name},
			#{insert_query},
			#{comment},
			#{last_to_today},
			#{activity}
		)
	</select>
	
	<select id="selectParseLogAllCount" resultType="int" parameterType="Map">
		select count(*)
		from parsing_log
		<trim prefix="WHERE" prefixOverrides="AND |OR">
			<if test="parsing_key != '' and parsing_key != null and parsing_key != 'all'">
				AND parsing_key = #{parsing_key}
			</if>
		</trim>
	</select>
	
	<select id="selectParseLogList" resultType="ParsingLogVO" parameterType="ParsingLogVO">
		select 
			*
		from parsing_log
		<trim prefix="WHERE" prefixOverrides="AND |OR">
			<if test="parsing_key != '' and parsing_key != null and parsing_key != 'all'">
				AND parsing_key = #{parsing_key}
			</if>
		</trim>
		order by log_no desc
		limit #{startList}, #{listSize}
			
	</select>
</mapper>